#test{
    color:red;
}



#top {
    background-image: url('../images/grass1.jpg');
    background-repeat: space;
    background-position: center;
    width:100%;
    height: 300px;
    margin-top: 0;
}



h1 {
   padding-top: 40px;
    font-size: 98px;
    font-family: serif;
        
    font-style: italic;
    text-align: center;
    margin-top: 0;
    vertical-align: middle;
    color:honeydew;
    text-shadow:39%;
    
    border: 0 0 12px 0;
    border-color:burlywood;
    
    
    border-style: solid;
    border-width: 0 0 12px 0;
    margin-bottom: 10px;
    
    
}

#topimages {
width: 50%;
    height: auto;

}
option {
    font-size: 1.5em;
}

.nav {
list-style: none;
    background-color: burlywood;
    display: inline-block;
    padding: 12px;
    border-top-left-radius: 22px;
    font-size-adjust: auto;
    font-size: 1.5em;
}

ul {
 margin-bottom: 0;   
    background-color: darkkhaki;
    
    
}
#mainParagraph {
    font-family: inherit;
    font-size: 26px;
    font-weight: 400;
    color: saddlebrown;
    background-color: burlywood;
    align-content: center;
    margin-top: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#left-column {
width: 60%
}
.mainBody {
width: 100%;
}

#main-sail {
    float: left;
    padding: 8px;
    display: block;
    height: auto;
    width: 100%;
    border-radius:5px;
    border-style: ridge;
    border-color: burlywood;
    border-width: thick;
    margin-top: 8px;
}

#secondaryParagraph {
    float: left;
    font-family: sans-serif;
    font-size: 38px;
    padding: 8px;
    display: block;
    height: auto;
    width: 100%;
    background-color:dodgerblue;
    border-radius: 30px;
    margin: 10px 10px 0 8px;
}
    
#main-store {
float: right;
    height: auto;
    width: 40%;


}

.store-screen {
float: right;
    width: 80%;
    height:auto;
}
#quote-container {
float:left;
    width: 100%;
    display: block;
    
}


#quotetext .material-icons {
     
font-size; 90px;
color:black;
    
    font-weight: bold;
    
}

#quotetext {
font-style: italic;
    font-size: 14px;
}
#mainpageDiv{
    background-color: lightcyan;
    width: 100%;
    height: 295px;
    align-content: center;
}

.mainimages1 {
        
    width: 100%;
    margin-right: 5px;
    padding: 5px;
    float: left;
    text-align: center;
    
    
    
}


    .frontimages {
        border-radius: 15%;
        text-align: center;
        width: 30%;
    height: auto;
    
    }

#freepark {
    width:98%;
    float: left;
    padding: 5px;
    padding-left: 5px;
        
}
.bigger {
        border-radius: 15%;
        float: left;
    max-width: 50%;
}
    
.page1span {
    background-color:antiquewhite;
    height: 90px;
    width: 100;
}

#shopSelectBox {
    float: left;
    height: 1.55em;
    box-sizing: 2em;
    width: 400px;
}

#phototheme {
    height: 4em;
    font-size: 20px;
    width: 80%;
    border-radius: 8px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
.material-icons {
    font-size: 1.5em;
    color: azure;
}
.styled-select select {
    overflow: visible;    
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

@media screen and (min-width:733px) {
    .mobileNav {
        display: none;
    }
#quotetext {
    font-size: 24px;
    
}
    
    #flower {
        display: none;
}
}
@media screen and (max-width:732px) {
 #top { 
     height: auto;
 }

    h1 { 
font-size: 36px;
}
    .desktopNav {
        display: none;
    }
    
    .mobileNav ul  {
        list-style: none;
        margin: 0;
        padding:0;
        
    }
.frontimages {
    width: 40%;
        height: auto;
    }
    
/*
    #hideheron {
    display: none;
    }
*/
    .mobileNav ul li:hover {
     background: #555 |transparent; 
    width: 60px;
        
    }
    
    .mobileNav ul li:hover ul {
       display:block; 
            }
    .mobileNav ul li ul {
    position: absolute;
        width: 60px;
        display: none;
 }
    
    .mobileNav ul li ul li {
      background: #555;
        display: block;
    }
    
    .mobileNav ul li ul li a{
    display: block;
                
        
    }
     .mobileNav ul li ul li:hover {
         background:#999; 
         
     }
    }
    
    
    @media screen and (max-width:732px) {
    #mainParagraph { 
font-size: 20px;
}
        #left-column {
width: 90%;
}
        #secondaryParagraph {
            width: 100%;
            font-size:1.5em;
}
        #main-store {
            display: none;
        }
    }
    @media screen and (max-width:732px) {
    li { 
font-size: 18px;
    }}