

video {
max-height: 400px;
    max-width: 600px;
    float: right;
}

.nav {
list-style: none;
    background-color: burlywood;
    display: inline-block;
    padding: 12px;
    border-top-left-radius: 22%;
    font-size-adjust: auto;
    font-size: 1.5em;
    margin-bottom: -0.75px;
    color:darkred;
}
#tips-main-content {
    background-color:cornsilk;
    margin-top;-0.8px;
}



h1 {
margin-top: -0.75px;
    padding-top:20px;
    color:orangered;
    font: sans;
    font-family: sans-serif;
    font-size: 40;
    
    
}
#menu {
    margin-bottom: -0.75px;
    background-color: darkred;
}


.material-icons {
    font-size: 1.5em;
}
a:link {
    text-decoration: none;
    color:chocolate;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: lightsalmon;
}

#cp {
    
    border-radius: 10px;
}

#ps {
    border-radius: 10px;
}
#slr {
    border-radius: 10px;
}
    
   button {
        padding-left: 15px;
        background-color: cadetblue;
       
    }
           
button:hover {
  background-color: chartreuse
}


@media screen and (max-width:732px) {
    video { 
        max-width: 90%;
           align-content: center;
    }
            
}
    @media screen and (min-width:733px) {
    .mobileNav {
        display: none;
    }
    
}

@media screen and (max-width:732px) {
 #top { 
     height: auto;
 }
    #slr {
        width:180px;
        padding-bottom: 15px;
    }
    video {
    float:left;
    }
    #forVideo {
        margin-right: 20px;
        padding-right: 20px;
        
    }
    
    #types{
    float: left;
    }
    
    .desktopNav {
        display: none;
    }
    
    .mobileNav ul  {
        list-style: none;
        margin: 0;
        padding:0;
        
    }
    .mobileNav ul li:hover {
     background: #555 |transparent; 
    width: 60px;
        
    }
    
    .mobileNav ul li:hover ul {
       display:block; 
            }
    .mobileNav ul li ul {
    position: absolute;
        width: 60px;
        display: none;
 }
    
    .mobileNav ul li ul li {
      background: #555;
        display: block;
    }
    
    .mobileNav ul li ul li a{
    display: block;
                
        
    }
     .mobileNav ul li ul li:hover {
         background:#999; 
         
     }
    
    .material-icons {
        color:azure;
    }
    #menuIcon {
        color: black;
        background: #555;
    }
}
    @media screen and (min-width: 733px) {
    .mobileNav {
        display: none;
    }
    
}

    
.pick-camera {
    
    height:36px;
    width:auto;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    
}
a.button:hover {
background-color:darkseagreen;
}

#thirds {
font-weight: bold;
}

, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
